/*-------------------------------------------------
GÉNÉRIQUE
---------------------------------------------------*/


html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}

/*-------------------------------------------------------
ÉLÉMENT
---------------------------------------------------------*/

body{
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    font-size: 18px;
    

}

a{
    text-decoration: none;
    color: white;
}

h1{
    font-size: 36px;
    font-weight: 300;

    letter-spacing: 7.2px;

    margin: 0;
    text-align: center;
}

h2{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

h3{
    font-size: 36px;
    font-weight: normal;
    margin: 10px 0;
}

/*-------------------------------------------------------
COMPONENTS
---------------------------------------------------------*/

.wrapper{
    max-width: 1080px;
    margin:0 auto;
}


.header{
    background-color: #f26c25;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 36px;
    font-weight: bold;
}

/*nav*/

.menu{
    display: flex;
    gap: 40px;

    list-style-type: none;
}

.menu a:hover{
    text-decoration: underline;
}

/*hero*/

.hero{
    background-color: #eee;

    padding-top: 80px;
    padding-bottom: 80px;
}

/*Titre transports*/

.titre-section{
    background-color: #eee;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    margin-bottom: 60px;
    margin-top: 80px;
    

}

.transports{
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.conteneur-transports{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}



.transports p{
    margin-top: 5px;
}

.menu-social a{
    display: block;
    align-items: center;
    justify-content: space-between;
}

.footer .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-social{
    display: flex;
    list-style: none;
    gap: 20px;
}

.footer{
    background-color: black;
    color: white;
}

.facebook a:hover{
    background-color: #1877f2;
}

.twitter a:hover{
    background-color: #1da1f2;
}

.linkedin a:hover{
    background-color: #0a66c2;
}

/* AIDE STYLISTIQUE*/
.conteneur-transports-invisible{
    display: none;
}

